@inherits LayoutComponentBase

<PageTitle>SindicoPronto</PageTitle>

<div class="page">  
    <main>
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <h1>Não conheço essa página!</h1>
                   <div class="alert alert-danger" role="alert">
                       <p>Talves o conteúdo que está buscando não se encontra nessta rota!</p>
                   </div>
               </div>
           </div>
       </div>
    </main>
</div>
